h1 {
    color: rgb(170, 170, 14);
    text-align: center;
}

h2 {
    column-span: all;

}
body {
    background-color: #cccccc;
}
    
div {
    column-count: 4;
    margin: 25px;
  }
img {
    width: 100%;
    margin: 12px;
    float: right;

}

/*

p {
    display: inline-block;
    width: 30%;
}
    column-span: 2;
